---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---
<footer>
	<div class="group">
		<p>&copy; {currentYear} AHAMADA MADI Faisoil</p>
		<Icon icon="rocket-launch" size="1.2em" />
	</div>
</footer>

<style>
	html, body {
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: auto;
		padding: 3rem 2rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
		background-color: var(--background-footer);
	}

	.group {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	@media (min-width: 50em) {
		footer {
			padding: 2.5rem 5rem;
		}
	}
</style>
